.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.tests {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.apis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images > img {
  border-radius: 10px;
  margin: 10px 10px;
}

.articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.articles > a {
  margin: 20px 20px;
}

.articles > a:link {
  color: black;
}

.articles > a:visited {
  color: black;
}

.translate {
  display: flex;
  justify-content: center;
}

.translate > p {
  margin: 30px 20px;
}

h2 {
  color: #d13b59;
  margin: 20px 0;
}

h4 {
  text-align: center;
  margin: 10px;
}

h2,
p {
  text-align: center;
}

button {
  padding: 5px 10px;
  margin: 10px 10px;
  background: #d13b59;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #9b4141;
}

h1 {
  color: #e94040;
}
