body {
    text-align: center;
    margin: 20px 0;
}

h2 {
    color: #e73458;
}

button {
    padding: 5px 20px;
    background: #d13b59;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

button:hover {
    background: #9b4141;
}
