body {
    text-align: center;
    margin: 20px 0;
}

h2 {
    color: rgb(231, 52, 88);
}

button {
    padding: 5px 10px;
    background: rgb(209, 59, 89);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgb(155, 65, 65);
}
